.header {
	background-color: #FBE551; 
	padding: 30px 30px;
	text-decoration: none;
	border-radius: 10px;
	
}
.header-one {
	float: right;
}
.header-one a {
	font-size: 20px;
	padding: 15px;
	text-decoration: none;
	color: blue;
	font-weight: bold;


}